//- widgets/form/field.pug
mixin field(attr)
  .field(class='field_' + (attr.class ? attr.class : attr.name))
    .field-label= __(attr.label)
    .field-value
      .field-value-input(class='field-value-input-' + attr.name)
        - delete(attr.label)
        - name=attr.name
        if attr.type == 'submit'
          - delete(attr.name)
        - text = ''
        if attr.text != ''
          - text = __(attr.text)
          - delete(attr.text)
        if attr.options
          - i = 0
          each label, value in attr.options
            input(
              class='input-' + attr.type,
              type=attr.type,
              name=attr.name,
              value=value,
              id=attr.name + i,
              checked=(attr.type == 'radio' && value == post[attr.name])
            )
            label(class=attr.type + '-label', for=attr.name + i++)= __(label)
        else
          if post[attr.name]
            if attr.type != 'checkbox'
              - attr.value = post[attr.name]
          else
            if attr.value != ''
              - attr.value = __(attr.value)
          if attr.placeholder != ''
            - attr.placeholder = __(attr.placeholder)
          input(
            class='input-' + attr.type,
            id=attr.name,
            checked=(attr.type == 'checkbox' && attr.value == post[attr.name])
          )&attributes(attr)
        if text
          label(class=attr.type + '-label', for=attr.name)= text
