//- index.pug
extends ../../pages/views/page.pug

mixin button(msg, enabled, label)
  button.button.motion-button&attributes({ 'data-emit': msg, 'data-enabled': enabled })= label

block content
  div#motion.motion.flex-wrapper

    #head.flex-block.flex-header
      #header-wrapper.flex-wrapper
        h1#headline.headline.flex-block.flex-left= title + ' Headline'

    #motion-container.motion-container.flex-block.flex-center
      h2 Motion
      h3= 'Status '
        span.status&attributes({ 'data-status': 'isRunning' }) unbekannt
      #button-container.button-container
        + button('startMotion', '!isRunning',  'start')
        + button('stopMotion', 'isRunning',  'stop')
        + button('isRunning', "{}",  'is running?')
      h3.eventListHeadline #{__('Event List')}
      table.eventList
        if locals.eventList && Object.keys(eventList).length > 0
          each eventId in Object.keys(eventList).sort()
            - event = eventList[eventId]
            tr.event
              td.date= event.date
              td.time= event.time
              td.take= event.take
              td.image
                if event.imageLink
                  if !locals.image || event.imageLink.indexOf(image) < 0
                    a(href=event.imageLink) &#128247;
                  else
                    strong &#128247;
              td.video
                if event.videoLink
                  if !locals.video || event.videoLink.indexOf(video) < 0
                    a(href=event.videoLink) &#127909;
                  else
                    strong &#127909;
        else
          tr.event
            td #{__('no events')}
      if locals.image
        .image
          img(src='/motion/capture/' + image)
      if locals.video
        .video
          video(controls='controls')
            source(src='/motion/capture/' + video, type='video/mp4')
            | #{__('Your browser can\'t show videos')}

append footer
  script(src='/js/motion/event-handler.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script(src='/js/motion/index.js')
