//- index.pug
extends ../../pages/views/page.pug

append head
  link(rel='stylesheet', href='/'+ modulePath + '/layout.css')

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/'+ modulePath + '/') Motion
  if locals.show && locals.eventShow
    - event = eventList[eventShow - 1]
    li.header-breadcrumb
      .header-breadcrumb-label
        if show == 'image'
          |#{__('Image')}:
        if show == 'video'
          |#{__('Video')}:
        |  #{event.date} #{event.time} #{event.take}

mixin button(msg, enabled, label)
  a.button.motion-button&attributes({ 'data-emit': msg, 'data-enabled': enabled }) #{label}

mixin pagination(baselink, items, current, max=11)
  if items && items > 1
    - first = Math.max(0, Math.min(current - Math.floor(0.5 * max) - 1, items - max))
    .pagination-container
      .pagination-item
        if current > 1
          a.pagination-item-link(href=baselink + '1') &laquo;
        else
          .pagination-item-disabled &laquo;
      - for (index=first; index < Math.min(items, first + max); index++) {
        .pagination-item
          if index + 1 != current
            a.pagination-item-link(href=baselink + (index + 1)) #{index + 1}
          else
            .pagination-item-current #{index + 1}
      - }
      .pagination-item
        if current < items
          a.pagination-item-link(href=baselink + items) &raquo;
        else
          .pagination-item-disabled &raquo;

block content
  div#motion.motion

    #head
      #header-wrapper.flex-wrapper
        h1#headline.headline.flex-block.flex-left Motion
        #motion-status-container.flex-block.flex-center.motion-status-container&attributes({ 'data-status': 'isRunning' })
          span#button-container.button-container
            a.button.motion-button&attributes({ 'data-emit': 'startMotion', 'data-enabled': '!isRunning' })= __('start motion server')
            a.button.motion-button&attributes({ 'data-emit': 'stopMotion', 'data-enabled': 'isRunning' })= __('stop motion server')
            a.button.motion-button&attributes({ 'data-emit': 'isRunning', 'data-enabled': '{}' })= __('motion server running?')
          span#status-container.status-container&attributes({ 'data-status': 'detectionStatus' })
            a.button.motion-button&attributes({ 'data-emit': 'startDetection' })= __('start detection')
            a.button.motion-button&attributes({ 'data-emit': 'stopDetection' })= __('stop detection')
            span.status.motion-status.motion-detection-status&attributes({ 'data-emit': 'getDetectionStatus', 'data-content': 'detectionStatus' })= __('pause')
            a.button.motion-button.motion-settings&attributes({ 'href': '/'+ modulePath + '/settings/', 'target': '_blank' })= __('motion settings')

    #motion-container.motion-container.flex-wrapper
      if locals.show && show == 'image' && locals.eventShow
        #motion-image-container.flex-block.flex-center.motion-image-container
          h3 #{__('Image')} #{__('on')} #{event.date} #{__('at')} #{event.time}
          .motion-image-content
            img.image(src='/motion/capture/' + eventList[eventShow - 1].imageFilename)
            + pagination('/motion/image/', eventList.length, eventShow)
      if locals.show && show == 'video' && locals.eventShow
        #motion-video-container.flex-block.flex-center.motion-video-container
          h3 #{__('Video')} #{__('on')} #{event.date} #{__('at')} #{event.time}
          .motion-video-content
            video.video(controls='controls')
              source(src='/motion/capture/' + eventList[eventShow - 1].videoFilename, type='video/mp4')
              | #{__('Your browser can\'t show videos')}
            + pagination('/motion/video/', eventList.length, eventShow)
      #motion-eventList-container.flex-block.flex-left.motion-eventList-container
        h3.eventListHeadline #{__('Event List')}
        .eventList-container
          table.eventList
            if locals.eventList && eventList.length > 0
              each event, eventId in eventList
                tr.event(id='item-' + (eventId + 1))
                  td.date= event.date
                  td.time= event.time
                  td.take= event.take
                  td.image
                    if event.imageFilename
                      if !locals.show || show != 'image' || eventId != eventShow - 1
                        a.imageLink(href='/motion/image/' + (eventId + 1)) &#128247;
                      else
                        strong.imageActive &#128247;
                  td.video
                    if event.videoFilename
                      if !locals.show || show != 'video' || eventId != eventShow - 1
                        a.videoLink(href='/motion/video/' + (eventId + 1)) &#127909;
                      else
                        strong.videoActive &#127909;
            else
              tr.event
                td #{__('no events')}

append footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script(src='/motion/index.js')
