//- index.pug
extends ../../pages/views/page.pug

append head
  link(rel='stylesheet', href='/css/'+ moduleName + '/layout.css')

append breadcrumbs
  if locals.show && locals.eventShow
    - event = eventList[eventShow]
    li.header-breadcrumb
      .header-breadcrumb-label
        if show == 'image'
          |#{__('Image')}:
        if show == 'video'
          |#{__('Video')}:
        |  #{event.date} #{event.time} #{event.take}

mixin button(msg, enabled, label)
  a.button.motion-button&attributes({ 'data-emit': msg, 'data-enabled': enabled }) #{label}

mixin pagination(baselink, items, current, max=11)
  if items && items.length > 0
    - first = Math.max(0, Math.min(items.indexOf(current) - Math.floor(0.5 * max), items.length - max))
    .pagination-container
      .pagination-item
        if first > 0
          a.pagination-item-link(href=baselink + items[0]) &laquo;
        else
          .pagination-item-disabled &laquo;
      each item, index in items.splice(first, max)
        .pagination-item
          if item != current
            a.pagination-item-link(href=baselink + item) #{first + index + 1}
          else
            .pagination-item-current #{first + index + 1}
      .pagination-item
        if first + max <= items.length
          a.pagination-item-link(href=baselink + items[items.length - 1]) &raquo;
        else
          .pagination-item-disabled &raquo;

block content
  div#motion.motion

    #head
      #header-wrapper.flex-wrapper
        h1#headline.headline.flex-block.flex-left Motion
        #motion-status-container.flex-block.flex-center.motion-status-container&attributes({ 'data-status': 'isRunning' })
          span#button-container.button-container
            a.button.motion-button&attributes({ 'data-emit': 'startMotion', 'data-enabled': '!isRunning' }) &#x1F534;
            a.button.motion-button&attributes({ 'data-emit': 'stopMotion', 'data-enabled': 'isRunning' }) &#x2B1B;
            a.button.motion-button&attributes({ 'data-emit': 'isRunning', 'data-enabled': '{}' }) &#x2753;

    #motion-container.motion-container.flex-wrapper
      if locals.show && show == 'image' && locals.eventShow
        #motion-image-container.flex-block.flex-center.motion-image-container
          h3 #{__('Image')} #{__('on')} #{event.date} #{__('at')} #{event.time}
          .motion-image-content
            img.image(src='/motion/capture/' + eventList[eventShow].imageFilename)
            + pagination('/motion/image/', eventIdList, eventShow)
      if locals.show && show == 'video' && locals.eventShow
        #motion-video-container.flex-block.flex-center.motion-video-container
          h3 #{__('Video')} #{__('on')} #{event.date} #{__('at')} #{event.time}
          .motion-video-content
            video.video(controls='controls')
              source(src='/motion/capture/' + eventList[eventShow].videoFilename, type='video/mp4')
              | #{__('Your browser can\'t show videos')}
            + pagination('/motion/video/', eventIdList, eventShow)
      #motion-eventList-container.flex-block.flex-left.motion-eventList-container
        h3.eventListHeadline #{__('Event List')}
        .eventList-container
          table.eventList
            if locals.eventList && Object.keys(eventList).length > 0
              each eventId in eventIdList
                - event = eventList[eventId]
                tr.event(id='item-' + eventId)
                  td.date= event.date
                  td.time= event.time
                  td.take= event.take
                  td.image
                    if event.imageFilename
                      if !locals.show || show != 'image' || eventId != eventShow
                        a.imageLink(href='/motion/image/' + eventId) &#128247;
                      else
                        strong.imageActive &#128247;
                  td.video
                    if event.videoFilename
                      if !locals.show || show != 'video' || eventId != eventShow
                        a.videoLink(href='/motion/video/' + eventId) &#127909;
                      else
                        strong.videoActive &#127909;
            else
              tr.event
                td #{__('no events')}

append footer
  script(src='/js/motion/event-handler.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script(src='/js/motion/index.js')
